$main: #000;
$text: #fff;
$secondary: #ffba03;


$dark-grey: #333333;
$light-grey: #c6c6c6;
$lighter-grey: #efefef;

$orange: #ED553B;
$blue: #112F41;
$light-blue: #068587;
$yellow: #ffba03;
$green: #4FB99F;
$border-color: #818181;

$boxShadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);