@import "colors";
@import "config";

body, html{
  padding:0;
  margin: 0;
}

body{
  background:#fff;
  font-family: 'Muli', sans-serif;
  color:#000;
  font-size: 15px;
  line-height: 1.2;
}

h1{
  font-family: 'Gotham-Bold';
  font-size: 40px;
}

h2{
  font-family: 'Gotham-Book';
  font-size: 30px;
}

h3{
  font-family: 'Gotham-Bold';
  font-size: 18px;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  color: #fff;
  text-decoration: none;
}

header.site-header{
  .header-enquiry-btn{
    text-decoration: underline;
  }
  .header-logo{
    img{
      display:block;
    }
  }
  .site-header-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .header-nav{
    padding-top: 8px;
    margin-left: auto;
    ul{
      list-style:none;
      li{
        display:inline-block;
        a{
          display: block;
          padding: 10px;
          font-size: 15px;
          color: #000;
        }
      }
    }
  }
}
header.site-header.home-header{
  display:none;
  background: #000;
  color: #fff;
  padding: 15px 0;
  .header-nav{
    padding-top:0;
    margin-left: auto;
    ul{
      li{
        a{
          color:#fff;
        }
      }
    }
  }
}


header.site-header.global{
  background: #fff;
  color: #000;
  padding: 10px 0;
  border-bottom: 1px solid $border-color;
  .header-logo{
    margin-right: 30px;
    img{
      display:block;
      height: 38px;
      margin-top: 6px;
    }
  }
}

.container.home-page{
  header.site-header.home-header{
    display:block;
  }
  .site-header.global{
    display:none;
  }
}

#header-search{
  #header-search-form{
    overflow: hidden;
    .search-box-1{
      float: left;
      border: 1px solid #c2c2c2;
      background: #fff;
      padding:5px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      width: 165px;
    }
    .search-box-2{
      float: left;
      border-top: 1px solid #c2c2c2;
      border-bottom: 1px solid #c2c2c2;
      background: #fff;
      padding:5px;
      width: 165px;
    }
    .search-box-3{
      float: left;
      border: 1px solid #c2c2c2;
      border-left:0;
      background: #fff;
      padding:5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    input{
      border:0;
      background: transparent;
      width: 100%;
      height: 40px;
      box-sizing: border-box;
      padding: 10px;
      font-size: 18px;
      font-weight: 300;
      input-placeholder{
        font-size: 18px;
        font-family: 'Muli', sans-serif;
        font-weight: 300;
      }
    }
    input[type="submit"]{
      width: 100%;
      background: $yellow;
      border:0;
      border-radius: 5px;
      color: #000;
      font-size: 18px;
      padding:10px 20px;
      font-weight: bold;
      text-align: center;
      box-sizing: border-box;
    }
  }
}

footer#site-footer{
  background: $main;
  color: #fff;
  font-family: "Muli";
  .footer-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 0;
    .footer-left{
      width: 285px;
      p{
        font-family: 'Gotham-Bold';
        font-size: 18px;
        span{
          color: $yellow;
        }
      }
    }
    .footer-right{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
      margin-left: auto;
      width: 73%;
      .footer-col{
        width: 160px;
        font-size: 13px;
        box-sizing: border-box;
        padding: 0 10px 0 20px;
        position: relative;
        &:before{
          content:"";
          position: absolute;
          left:0;
          top: 0;
          display:block;
          height: 125px;
          width: 1px;
          background: #818181;
        }
        &:first-child{
          &:before{
            display:none;
          }
        }
        .footer-col-heading{
          color: $yellow;
          margin: 0 0 10px;
        }
        .footer-col-list{
          ul{
            list-style: none;
            padding: 0;
            margin: 0;
          }
          li{
            a{
              color: #fff;
              padding: 5px 0;
              display:block;
            }
          }
        }
        .footer-social-list{
          li{
            display:inline-block;
            a{
              font-size: 16px;
              display: block;
              padding: 5px 21px 5px 0;
              width: 17px;
              text-align: center;
            }
          }
        }
      }
    }
  }
  .footer-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 0 20px;
    .footer-right{
      margin-left: auto;
      color: #fff;
      font-size: 11px;
      p{
        margin: 0;
      }
    }
  }
}

nav#site-navigation{
  position: fixed;
  z-index: 90;
  top:0;
  right: 0;
  width: 300px;
  height: 100%;
  background: #131313;
  transform: translateX(100%);
  // transition: all 0.5s ease-in;
  .site-nav-inner{
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .site-nav-header{
    box-sizing: border-box;
    padding: 15px;
    text-align: right;
    margin: 0 0 15px;
    #site-nav-close{
      display:inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #fff;
      border: 1px solid $light-grey;
      color: #000;
      font-size: 18px;
      text-align: center;
      line-height: 30px;
      font-family: 'Gotham-Light';
    }
  }
  .site-nav-middle{
    ul{
      li{
        a{
          display: block;
          padding: 15px;
          box-sizing: border-box;
          color: #fff;
          font-size: 16px;
          font-weight: bold;
          &:hover{
            background: $yellow;
            color: #000;
          }
          &.actived{
            background: $yellow;
            color: #000;
          }
        }
        border-bottom: 1px solid $border-color;
      }
    }
  }
  .site-nav-bottom{
    margin-top: auto;
    padding: 25px 0;
    box-sizing: border-box;
    .site-nav-info{
      box-sizing: border-box;
      padding: 15px;
      font-size: 12px;
      color: #fff;
      p{
        margin: 0 0 15px;
        span{
          color: $yellow;
        }
      }
    }
    .site-nav-social{
      margin: 20px 0 0;
      ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        li{
          display:inline-block;
          a{
            display:block;
            font-size: 28px;
            color: #fff;
          }
          
        }
      }
    }
  }
  &.show{
    transform: translateX(0);
    transition: all 0.5s ease-in;
  }
}

.page-main{
  min-height: 620px;
}


.home-banner{
    background: url(../img/bg.jpg) no-repeat center center;
    background-size: cover;
    height: calc( 100vh - 66px);
    .home-banner-wrapper{
      display:flex;
      flex-wrap:wrap;
      height: 100%;
      .site-inner{
        align-self: center;
      }
    }

    .home-hanner-inner{
      text-align: center;
      .home-banner-text{
        color: #fff;
        width: 60%;
        margin: 0 auto 20px;
        h1{
          margin: 0 0 20px;
          font-size: 44px;
        }
      }
    }
}

.home-search-block{
  #home-search{
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    .form-input-box{
      border: 1px solid #c2c2c2;
      width: 40%;
      float:left;
      background: #fff;
      height: 65px;
      &:first-child{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-right:0;
      }
      &:nth-child(2){
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      
      .form-label{
        font-size: 14px;
        text-align: left;
        background: transparent;
        padding: 5px 10px;
      }
      .form-element{
        input{
          border:0;
          background: transparent;
          width: 100%;
          box-sizing: border-box;
          padding: 10px;
          font-size: 18px;
          font-weight: 300;
        }
      }
    }
    .form-submit-box{
      height: 67px;
      width: 18%;
      float: right;
      input[type="submit"]{
        height: 100%;
        width: 100%;
        background: $yellow;
        border:0;
        border-radius: 5px;
        color: #000;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        line-height: 67px;
        box-sizing: border-box;
      }
    }
  }
}

.category-block{
  display: flex;
  flex-wrap: wrap;
  .category-box{
    width: 180px;
    border-bottom: 3px solid $yellow;
    box-shadow: $boxShadow;
    margin: 0px 7px 15px;
    .category-box-img{
      height: 185px;
      img{
        width: 100%;
        max-width: 100%;
      }
    }
    .category-box-name{
      font-size: 15px;
      padding: 15px;
      text-align: center;
      color: #000;
      box-sizing: border-box;
    }
  }
}

.single-category{
  padding: 40px 0;
  .single-category-inner{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
}

.my-favorite-inner{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.product-box{
  width: 250px;
  margin: 0 10px 20px;
  box-shadow: $boxShadow;
  .product-img-box{
    position: relative;
    height: 270px;
  }
  .product-desc{
    display:none;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
    color: #000;
    z-index: 10;
    background: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    .p-name{
      font-size: 18px;
      font-family: 'Gotham-Bold';
      margin:0 0 15px;
    }
    .p-desc{
      font-size: 15px;
    }
  }
  .product-box-link:hover .product-desc{
    display:block;
  }
  .product-name{
    position: absolute;
    left:0;
    right:0;
    width: 100%;
    bottom:0;
    z-index: 3;
    font-size: 18px;
    font-family: 'Gotham-Bold';
    color:#fff;
    background: linear-gradient(to bottom, transparent 0% transparent 20%, $dark-grey 100%);
    box-sizing: border-box;
    padding: 30px 15px 15px;
  }
  .product-box-meta{
    padding: 8px 15px;
    box-sizing: border-box;
    font-size: 15px;
    .p-price{
      color: $light-blue;
      font-weight: bold;
    }
    a.add-to-fav{
      float:right;
    }
  }
  img{
    width: 100%;
  }
}

a.add-to-fav{
  width: 15px; height: 15px;
  background: url('../img/css_sprites.png') -152px -10px;
  &:hover{
    background-position: -152px -45px;
  }
  &.added-to-fav{
    background-position: -152px -45px;
  }
}

a.add-to-like{
  width: 15px; height: 15px;
  background: url('../img/css_sprites.png') -152px -10px;
  &:hover{
    background-position: -92px -80px;
  }
  &.added-to-like{
    background-position: -92px -80px;
  }
}

.breadcrumb{
  padding: 15px 0;
  margin: 0 0 10px;
  ul{
    li{
      display:inline-block;
      font-size: 13px;
      a{
        color: $green;
        text-decoration: underline;
      }
      &:after{
        content: ">";
        display:inline-block;
        margin: 0 2px;
      }
      &:last-child:after{
        display:none;
      }
    }
  }
}

.with-left-column{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .sidebar-col{
    width: 25%;
  }
  .main-with-sidebar{
    width: 72%;
  }
}

.fav-form{
  .fav-form-title{
    background: $green;
    color: #fff;
    font-size: 18px;
    padding: 15px;
    box-sizing: border-box;
  }
  .fav-form-body{
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid $light-grey;
    border-top: 0;
    h3{
      font-size: 15px;
      margin: 0 0 20px;
    }
  }
}
#favorite-form{
  .form-row{
    margin: 0 0 15px;
    .DayPickerInput{
      width:100%;
    }
    label{
      font-weight: bold;
      font-size: 15px;
      display:block;
      margin: 0 0 5px;
    }
    input, textarea{
      font-size: 16px;
      font-weight: 300;
      padding: 5px 2px;
      box-sizing:border-box;
      width: 100%;
      border:0;
      border-bottom: 1px solid $light-grey;
      input-placholder{
        font-family: "Muli";
        font-weight: 300;
        color:#7e7e7e;
      }
    }
    textarea{
      border: 1px solid $light-grey;
      height: 100px;
    }
    input[type="submit"]{
      font-size: 18px;
      padding: 10px 0;
      font-weight: 700;
    }
  }
}