@import "colors";
@import "config";

body, html{
  padding:0;
  margin: 0;
}

body{
  background:#fff;
  font-family: 'Gotham-Medium';
  color:#000;
  font-size: 16px;
  line-height: 1.2;
  // background: url(../img/bg.jpg) no-repeat center center;
  // background-size: cover;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  color: #fff;
  text-decoration: none;
}

header.site-header{
  background: #fff;
  color:#000;
  .site-header-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  padding: 15px 0;
  a{
    color:#fff;
  }
  &.home-header{
    background: #000;
    color: #fff;
  }
  .header-logo{
    img{
      display:block;
    }
  }
  .header-nav{
    margin-left: auto;
    ul{
      list-style:none;
      li{
        display:inline-block;
        a{
          display: block;
          padding: 10px;
          font-size: 15px;
        }
      }
    }
  }
}

footer#site-footer{
  background: $main;
  color: #fff;
  font-family: "Muli";
  .footer-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 0;
    .footer-left{
      width: 285px;
      p{
        font-family: 'Gotham-Bold';
        font-size: 18px;
        span{
          color: $yellow;
        }
      }
    }
    .footer-right{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
      margin-left: auto;
      width: 73%;
      .footer-col{
        width: 160px;
        font-size: 13px;
        box-sizing: border-box;
        padding: 0 10px 0 20px;
        position: relative;
        &:before{
          content:"";
          position: absolute;
          left:0;
          top: 0;
          display:block;
          height: 125px;
          width: 1px;
          background: #818181;
        }
        &:first-child{
          &:before{
            display:none;
          }
        }
        .footer-col-heading{
          color: $yellow;
          margin: 0 0 10px;
        }
        .footer-col-list{
          ul{
            list-style: none;
            padding: 0;
            margin: 0;
          }
          li{
            a{
              color: #fff;
              padding: 5px 0;
              display:block;
            }
          }
        }
        .footer-social-list{
          li{
            display:inline-block;
            a{
              font-size: 16px;
              display: block;
              padding: 5px 21px 5px 0;
              width: 17px;
              text-align: center;
            }
          }
        }
      }
    }
  }
  .footer-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 0 20px;
    .footer-left{
      
    }
    .footer-right{
      margin-left: auto;
      color: #fff;
      font-size: 11px;
      p{
        margin: 0;
      }
      
    }
  }
}

nav#site-navigation{
  background: #131313;
  &.show{
    background:  $yellow;
  }
}

.page-main{
  min-height: 500px;
}

.single-category{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .product-box{
    width: 33%;
    .product-name{
      font-size: 20px;
      color:#fff;
    }
    img{
      width: 100%;
    }
  }
}