@import "colors";
@import "config";

body, html{
  padding:0;
  margin: 0;
}

body{
  background:#fff;
  font-family: 'Muli', sans-serif;
  color:#000;
  font-size: 15px;
  line-height: 1.2;
}

h1{
  font-family: 'Gotham-Bold';
  font-size: 40px;
}

h2{
  font-family: 'Gotham-Book';
  font-size: 30px;
}

h3{
  font-family: 'Gotham-Bold';
  font-size: 18px;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  color: #fff;
  text-decoration: none;
}

header.site-header{
  background: #fff;
  color:#000;
  .site-header-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  padding: 15px 0;
  a{
    color:#fff;
  }
  &.home-header{
    background: #000;
    color: #fff;
  }
  .header-logo{
    img{
      display:block;
    }
  }
  .header-nav{
    margin-left: auto;
    ul{
      list-style:none;
      li{
        display:inline-block;
        a{
          display: block;
          padding: 10px;
          font-size: 15px;
        }
      }
    }
  }
}

footer#site-footer{
  background: $main;
  color: #fff;
  font-family: "Muli";
  .footer-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 0;
    .footer-left{
      width: 285px;
      p{
        font-family: 'Gotham-Bold';
        font-size: 18px;
        span{
          color: $yellow;
        }
      }
    }
    .footer-right{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
      margin-left: auto;
      width: 73%;
      .footer-col{
        width: 160px;
        font-size: 13px;
        box-sizing: border-box;
        padding: 0 10px 0 20px;
        position: relative;
        &:before{
          content:"";
          position: absolute;
          left:0;
          top: 0;
          display:block;
          height: 125px;
          width: 1px;
          background: #818181;
        }
        &:first-child{
          &:before{
            display:none;
          }
        }
        .footer-col-heading{
          color: $yellow;
          margin: 0 0 10px;
        }
        .footer-col-list{
          ul{
            list-style: none;
            padding: 0;
            margin: 0;
          }
          li{
            a{
              color: #fff;
              padding: 5px 0;
              display:block;
            }
          }
        }
        .footer-social-list{
          li{
            display:inline-block;
            a{
              font-size: 16px;
              display: block;
              padding: 5px 21px 5px 0;
              width: 17px;
              text-align: center;
            }
          }
        }
      }
    }
  }
  .footer-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 0 20px;
    .footer-right{
      margin-left: auto;
      color: #fff;
      font-size: 11px;
      p{
        margin: 0;
      }
    }
  }
}

nav#site-navigation{
  position: fixed;
  z-index: 90;
  top:0;
  right: 0;
  width: 300px;
  height: 100%;
  background: #131313;
  transform: translateX(100%);
  transition: all 0.5s ease-in;
  .site-nav-inner{
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .site-nav-header{
    box-sizing: border-box;
    padding: 15px;
    text-align: right;
    margin: 0 0 15px;
    #site-nav-close{
      display:inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #fff;
      border: 1px solid $light-grey;
      color: #000;
      font-size: 18px;
      text-align: center;
      line-height: 30px;
      font-family: 'Gotham-Light';
    }
  }
  .site-nav-middle{
    ul{
      li{
        a{
          display: block;
          padding: 15px;
          box-sizing: border-box;
          color: #fff;
          font-size: 16px;
          font-weight: bold;
          &:hover{
            background: $yellow;
            color: #000;
          }
          &.actived{
            background: $yellow;
            color: #000;
          }
        }
        border-bottom: 1px solid $border-color;
      }
    }
  }
  .site-nav-bottom{
    margin-top: auto;
    padding: 25px 0;
    box-sizing: border-box;
    .site-nav-info{
      box-sizing: border-box;
      padding: 15px;
      font-size: 12px;
      color: #fff;
      p{
        margin: 0 0 15px;
        span{
          color: $yellow;
        }
      }
    }
    .site-nav-social{
      margin: 20px 0 0;
      ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        li{
          display:inline-block;
          a{
            display:block;
            font-size: 28px;
            color: #fff;
          }
          
        }
      }
    }
  }
  &.show{
    transform: translateX(0);
    transition: all 0.5s ease-in;
  }
}

.page-main{
  min-height: 620px;
}


.home-banner{
    background: url(../img/bg.jpg) no-repeat center center;
    background-size: cover;
    height: calc( 100vh - 66px);
    .home-banner-wrapper{
      display:flex;
      flex-wrap:wrap;
      height: 100%;
      .site-inner{
        align-self: center;
      }
    }

    .home-hanner-inner{
      text-align: center;
      .home-banner-text{
        color: #fff;
        width: 60%;
        margin: 0 auto 20px;
        h1{
          margin: 0 0 20px;
          font-size: 44px;
        }
      }
    }
}

.home-search-block{
  #home-search{
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    .form-input-box{
      border: 1px solid #c2c2c2;
      width: 40%;
      float:left;
      background: #fff;
      height: 65px;
      &:first-child{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-right:0;
      }
      &:nth-child(2){
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      
      .form-label{
        font-size: 14px;
        text-align: left;
        background: transparent;
        padding: 3px 10px;
      }
      .form-element{
        input{
          border:0;
          background: transparent;
          width: 100%;
          box-sizing: border-box;
          padding: 10px;
          font-size: 18px;
          font-weight: 300;
        }
      }
    }
    .form-submit-box{
      height: 67px;
      width: 18%;
      float: right;
      input[type="submit"]{
        height: 100%;
        width: 100%;
        background: $yellow;
        border:0;
        border-radius: 5px;
        color: #000;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        line-height: 67px;
        box-sizing: border-box;
      }
    }
  }
}

.category-block{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .category-box{
    width: calc(100%/6);
    .category-box-img{
      height: 300px;
      img{
        width: 100%;
        max-width: 100%;
      }
    }
    .category-box-name{
      font-size: 15px;
      padding: 15px;
      text-align: center;
      color: #000;
      box-sizing: border-box;
    }
  }
}

.single-category{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .product-box{
    width: 33%;
    .product-name{
      font-size: 20px;
      color:#fff;
    }
    img{
      width: 100%;
    }
  }
}